$fontBungee: 'Bungee', cursive;
$NavBackground: #4056A1;
$fontSource: 'Source Sans Pro', sans-serif;
$mainBackground: #D8981F;
$background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
$fontColor: white;