@use 'base';

header {
  height: 100%;
  width: 100%;
  background-color: $mainBackground;
  background-image: $background-image;
  margin-top: 120px;

    .profile-pic {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .profile-name {
      display: flex;
      justify-content: center;
      color: $fontColor;
    }
}


@media only screen and (min-width: 1024px) {
  .site-body {
    display: flex;
    margin-top: 170px;
    margin-right: 100px;
    margin-left: 50px;
  }
  header {
    margin: 50px 150px 0px 0px;
  }
}