nav {
  font-family: 'Bungee', cursive;
  height: 120px;
  background-color: #4056A1;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
 }

 .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 1.5em;
 }

 #add-tweet {
  font-family: 'Source Sans Pro', sans-serif;
 }