nav {
  font-family: 'Bungee', cursive;
  height: 120px;
  background-color: #4056A1;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
 }

 nav div {
   display: flex;
   flex-direction: column;
   cursor: pointer;
 }

 nav div:hover {
   
 }
 #add-tweet {
  font-family: 'Source Sans Pro', sans-serif;
 }

 nav img {
   height: 50px;
   width: 50px;
   margin-left: 50px;
 }